body {
    font-family: sans-serif;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.wrap {
    margin-right: 30px;
}

input {
    height: 20px;
    font-size: 15px;
}

.btnConvert {
    height: 40px;
    width: 150px;
    border-style: none;
    background-color: #4CAF50;
    color: white;
    font-size: 15px;
    margin-bottom: 30px;
}

.btnConvert:hover {
    background-color: #46a049;
}

.btnConvert:active {
    background-color: #3b703d;
}